@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
}

#background-video video{
    height: 100vh;
    width: 100vw;
    z-index: -1;

    position: absolute;
    top: 0;
    object-fit: cover;
    transform: scale(1.1);

    filter: blur(8px);
}

#card{
    height: 450px;
    width: 400px;
    z-index: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #1e2124;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

#nickname{
    z-index: 0;

    margin: 15px 20px;
    padding: 8px;
    text-align: center;

    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #282b30;
    border-radius: 10px;
}

#avatar img{
    height: 225px;
    width: 225px;
    z-index: 1;

    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -39%);

    object-fit: cover;
    border-radius: 1000px;
}

#animated-border{
    height: 240px;
    width: 240px;
    z-index: 0;

    position: relative;
    top: 2.5px;
    left: 50%;
    transform: translate(-50%);

    background-image: linear-gradient(#000,#444,#000);
    border-radius: 1000px;

    animation-name: border;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#discord{
    height: 40px;
    width: 90px;
    z-index: 0;
    
    display: flex;
    justify-content: center;

    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -81%);
  
    background-color: #1e2124;
    border-radius: 10px;
}

#discord .discord-bar img{
    height: 30px;
    width: 90px;
    z-index: 0;

    padding: 5px;
    border-radius: 40px;
}

#discord .discord-bar{
    transition: transform .3s;
}

#links-bar{
    height: 50px;
    width: 360px;
    z-index: 0;

    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
  
    background-color: #424549;
    border-radius: 10px;
}

#links-bar .link-block img{
    height: 40px;
    width: 40px;
    z-index: 0;

    padding: 5px;
    border-radius: 1000px;
}

#links-bar .link-block{
    transition: transform .3s;
    transition: padding .3s;
}

/* Animation */
@keyframes border{
    0% {background-image: linear-gradient(0deg,#000,#444,#000);}
    5% {background-image: linear-gradient(18deg,#000,#444,#000);}
    10% {background-image: linear-gradient(36deg,#000,#444,#000);}
    15% {background-image: linear-gradient(54deg,#000,#444,#000);}
    20% {background-image: linear-gradient(72deg,#000,#444,#000);}
    25% {background-image: linear-gradient(90deg,#000,#444,#000);}
    30% {background-image: linear-gradient(108deg,#000,#444,#000);}
    35% {background-image: linear-gradient(126deg,#000,#444,#000);}
    40% {background-image: linear-gradient(144deg,#000,#444,#000);}
    45% {background-image: linear-gradient(162deg,#000,#444,#000);}
    50% {background-image: linear-gradient(180deg,#000,#444,#000);}
    55% {background-image: linear-gradient(198deg,#000,#444,#000);}
    60% {background-image: linear-gradient(216deg,#000,#444,#000);}
    65% {background-image: linear-gradient(234deg,#000,#444,#000);}
    70% {background-image: linear-gradient(252deg,#000,#444,#000);}
    75% {background-image: linear-gradient(270deg,#000,#444,#000);}
    80% {background-image: linear-gradient(288deg,#000,#444,#000);}
    85% {background-image: linear-gradient(306deg,#000,#444,#000);}
    90% {background-image: linear-gradient(324deg,#000,#444,#000);}
    95% {background-image: linear-gradient(342deg,#000,#444,#000);}
    100% {background-image: linear-gradient(360deg,#000,#444,#000);}
}

#discord .discord-bar:hover{
    transform: scale(1.2);
}

#links-bar .link-block:hover{
    transform: scale(1.2);
    padding: 0 2px;

    background-color: #424549;
    border-radius: 1000px;
}